<div class="bg-secondary">
    <div class="container d-flex flex-row justify-content-around">
        {{#each categorias}}
        <div class="mt-2 mb-2">
            <a href="/{{id}}" class="text-white text-decoration-none"><h3>{{nombre}}</h3></a>
        </div>
        {{/each}}
    </div>
</div>
<div class="container" id="contenedor">
    <div class="row mt-2" id="contenedor-hijo">
        <div class="col-md-6 mt-2">
            <div id="preview">
                <img src="../../img/{{producto.image}}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <h3 class="mr-4 ml-4 font-weight-bold">Producto:</h3>
                        <h5>{{producto.nombre}}</h5>
                    </div>
                    <hr>
                    <div class="row align-items-center">
                        <h4 class="mr-4 ml-4 font-weight-bold">Descripcion:</h4>
                        <h5>{{producto.descripcion}}</h5>
                    </div>
                    <hr>
                    <div class="row align-items-center">
                        <h5 class="mr-4 ml-4 font-weight-bold">Precio:</h5>
                        <h5>$ {{producto.precio}}</h5>
                    </div>
                    <hr>
                    <div class="row align-items-center">
                        <button class="btn btn-primary mr-5 ml-4 agregar-carrito" data-id="{{producto.id}}"><i class="fas fa-shopping-cart mr-2"></i>Agregar al carrito</button>
                        <input type="number" name="cantidad" id="cantidad" placeholder="1" max="{{producto.stock}}" min="1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/index-productos.js"></script>
